language: c
sudo: false
cache:
  directories:
    - $HOME/.opam
addons:
  apt:
    packages:
      - libgmp-dev
      - opam
      - ghc
      - texlive-full
    sources: [avsm]
matrix:
  include:
    - env: COQ_VER=8.6   OCAML_VER=4.05.0
    - env: COQ_VER=8.6.1 OCAML_VER=4.05.0
    - env: COQ_VER=8.7.2 OCAML_VER=4.05.0
    - env: COQ_VER=8.8.0 OCAML_VER=4.05.0
  allow_failures:
    - env: COQ_VER=8.8.0 OCAML_VER=4.05.0


notifications:
  irc: "irc.freenode.net#haskell-raaz"
fast_finish: true
before_install:
  - opam --version
  - opam init -y --disable-sandboxing --compiler "$OCAML_VER"
  - (opam repo list | grep coq-released) || opam repo add coq-released https://coq.inria.fr/opam/released -y
  - opam update -y
  - opam install coq."$COQ_VER" -y --verbose
  - opam pin add coq "$COQ_VER" -y
  - opam install coq-color -y --verbose
script:
  - eval $(opam config env)
  - coqtop --version
  - coq_makefile -f _CoqProject > Makefile
  - make
  - make html
  - make all.pdf
  - make test
  - make -C crypto-lib libverse
  - make -C crypto-lib/libverse libverse.a
after_success:
  - echo "All is well."
after_failure:
  - echo "Build failed."
branches:
  only:
    - master
    - develop
