name: Building and testing
on: [push, pull_request]
jobs:
  linux:
    name: 'Linux'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        coq: [ '8.11.0', '8.10.2', '8.9.1', '8.8.0', '8.7.2', '8.6.1']
    env:
      COQVER:  ${{ matrix.coq }}
    steps:
      - name: Get the Repository
        uses: actions/checkout@v2

      - name: Setup
        run: |
          sudo add-apt-repository ppa:avsm/ppa -y
          sudo apt-get update -y
          sudo apt-get install opam indent texlive texlive-latex-extra -y

      - name: Opam Setup
        run: |
          opam --version
          opam init -y --disable-sandboxing
          (opam repo list | grep coq-released) ||
                 opam repo add coq-released https://coq.inria.fr/opam/released -y
          opam update -y

      - name: Coq Installation
        run: |
          opam install coq."$COQVER" -y --verbose
          opam pin add coq "$COQVER" -y

      - name: Build
        run: |
          eval $(opam config env)
          coqtop --version
          make all
      - name: Test
        run: |
          eval $(opam config env)
          coqtop --version
          make test
      - name: Documentation
        run: |
          eval $(opam config env)
          coqtop --version
          make html
          make all.pdf
