name: CI
on:
  push:
  pull_request:
  schedule:
    # Daily build.
    - cron: '0 8 * * *'

jobs:
  linux:
    name: 'Linux'
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        coq: [ 'latest', '8.13.2', '8.12.2', '8.11.2', '8.10.2' ]
    env:
      COQVER:  ${{ matrix.coq }}
    steps:
      - uses: actions/checkout@v2
      - uses: coq-community/docker-coq-action@v1
        with:
          custom_script: |
            {{install}}
            {{before_script}}
            {{script}}
          install: |
            startGroup "Install"
              sudo apt-get update -y
              sudo apt-get install m4 indent dune texlive texlive-latex-extra -y
              sudo chown -R coq:coq .
            endGroup
          before_script: |
            startGroup "Information on Coq and Dune"
              coqtop -v
              dune --version
            endGroup
          script: |
            startGroup "making library and docs"
               dune build
               make
               make -C test
               make html
               make all.pdf
            endGroup
